.H5{
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: lighter;
  margin-top: 120px;
  color: rgba(0, 0, 0,0.5);
}
.h6{
  display: flex;
  justify-content: center;
  font-size: 64px;
  font-weight: bolder;
  color: rgba(0, 0, 0,0.8);
  margin:16px 0px 36px
}
.label-contact{
  background-color: rgba(255, 255, 255, 0.6);
  width: 400px;
  display: grid;
  grid-template-columns: 58px 250px 56px;
  border-style: solid;
  border-width: 1px;
  border-color:rgba(0, 132, 255, 0.1);
  gap: 20px;
  align-items: center;
  border-radius: 8px;
  padding: 10px 10px;
  transition: 0.2s; 
  margin-top:12px ;
  margin-bottom: 10px;
  margin-inline: auto;
}

.label-contact:hover {
background-color:rgba(0, 132, 270, 0.01);
box-shadow:0 6px 10px rgba(0, 0, 0, 0.02);

}

.icon{
  background-color: rgba(0, 0, 0,0.05);
  font-size: 24px;
  width: 24px;
  height: 24px;
  padding:5px 5px 5px 5px ;
  align-content: center;
  border-radius: 4px;
}
.email-cont{
  padding-right: 20px;
}
.subheadline{
  color: rgba(0, 0, 0,0.6);
  font-size:16px ;
  padding-top: 5px;
}

.headline{
  color: rgba(0, 0, 0,0.7);
  font-size: 16px;
  font-weight: bolder;
}
 .arrow-button{
  font-size:24px;
  width: 24px;
  height: 24px;
  transition: 0.2s;
 }

 .arrow-button:hover{
  width: 26px;
  height: 26px;
 }
@media screen and (max-width: 600px){

  .H5{
    text-align: center;
  }
  
 }

