.allheader-flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: sticky;
  top: 0;
  right: 10px;

  
}
.header-flex{
  width: 1000px;
  height: 75px;
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255,0.4) ;
  margin-top: 10px;
  box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.05);
  align-items: center;
  padding-left: 30px;
  border-radius: 56px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0,0.05);
  z-index: 100;
  backdrop-filter: blur(10px);
}
.left-sider{
  width: 50px;
  
}

.right-sider{
  flex: 1;
  justify-content:end;
  display: flex;
  gap: 10px;
}

.projet-button {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 28;
  font-weight: bolder;
  font-family: georgia;
  border: black;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px; 
  padding-top: 15px;
  border-radius: 4px;
  flex-shrink: 0;
  cursor: pointer;
  margin-top: 0px;
  margin-left: 0px;
  transition: box-shadow 0.2s;
    
}

.projet-button:hover{
  transform: translateX(-360);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
     
}

.resume-button{

  background-color: rgba(255, 255, 255,0.8);
  color: rgba(0, 0, 0,0.65);
  border-color:rgba(0, 132, 255, 0.05);
  cursor: pointer;
  font-family: "Space Grotesk", sans-serif;
  padding: 10px 5px;
  border-radius: 100%;
  font-weight: 0px;
  transition: background-color 0.2s;
  transition: all 0.2s;

}
.resume-button:hover{
  background-color: rgba(0, 0, 0,0.05);
  color: rgb(38, 38, 38);
      
}
  
.resume-button:active{
   
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(255, 255, 255);
  box-shadow: 0px 4px 10px rgba(35, 35, 35, 0.0);
  border-style: none;
      
}
.icon-burger-container{
  display: flex;
  font-size: 32px;
  margin-right: 20px;
  cursor: pointer;
  color: rgba(0, 0, 0,0.7);
  visibility: hidden;
}


.container-darkmode{
  font-size: 32px;
  height: 32px;
  width: 32px;
  align-items: center;
  padding-top: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px 5px;
  border-radius: 702px;
  border-color:rgba(0, 132, 255, 0.05);
  border-width: 1px;
  border-style: solid;
  transition: 0.3s;
  backdrop-filter: blur(20px);
}

.container-darkmode:hover{
  background-color: rgba(0, 0, 0, 0.05);
}
  

.darkmode{
  display: flex;
  margin-left: 20px;
  border-radius: 56%;
  background-color: rgba(0, 0, 0,0.2);
  
}

@media screen and (max-width:1440px) {
  .allheader-flex{
    justify-content: space-between;
  
  }

  .header-flex{
    height: 60px;
    width: 300px;
    padding:10px 20px;
    width:100%;
    gap: 0px;          
  
}
}

@media screen and (min-width: 1024px) {

  .allheader-flex{
    justify-content: center;
  
  }

  .header-flex{
    width:750px;         

  
  }



}


@media screen and (max-width: 768px) {
  .allheader-flex{
    justify-content: space-between;
  
  }

  .header-flex{
    border-radius: 0%;
    width:100%;
    gap: 0px; 
    justify-content: space-between;         
  
}

.right-sider{
  display: none;
  position: fixed;
  top: 60px;
  right: 10px;
  width: 200px;
  background-color: white;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 10px 10px;



}

.social-icon{
  margin-inline: auto;

}

.icon-burger-container{
  visibility: visible;

}

.container-darkmode{
  font-size: 28px;
  height: 28px;
  width: 28px;
  position: fixed;
  top: 30px;
  right: 90px;
  z-index: 100;
}

}



