body {
   overflow-x: hidden;
   font-family:"Space Grotesk", sans-serif ;
 }

.Header-salutation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
  margin-bottom: 24px;
  padding: 0 0px;
}

.hi1 {
  font-family:"Space Grotesk", sans-serif ;
  font-size: clamp(40px, 5vw, 48px);
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}


.hi-emoji {
  display: flex;
  align-items: center;
  font-size: clamp(40px, 5vw, 48px);
}

.all-name {
  flex-direction: column;
  justify-content: center;



}

.name-intro {
  display: flex;
  flex: 1;
  justify-content: center;
  font-family:"Space Grotesk", sans-serif ;
  color: rgba(0, 0, 0, 0.85);
  font-size: clamp(42px, 10vw, 72px);
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
}

.short-word {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  font-weight: 700;
  flex: 100px;
  font-size: 56px;
  color: rgba(0, 0, 0, 0.7);
  justify-content: center;


}


.role-name {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  color: rgba(0, 0, 0, 0.65);
  font-weight: 500;
  margin-top: 24px;
  margin-bottom: 20px;
  font-size: 42px;
  font-family:"Space Grotesk", sans-serif ;
  padding: 0 20px;
  text-align: center;
}

.header-bio {
  font-family:"Space Grotesk", sans-serif ;
  display: flex;
  flex: 1;
  justify-content: center;
  font-size:20px;
  font-weight: lighter;
  margin-top: 24px;
  margin-bottom: 24px;
  color: rgba(0, 0, 0, 0.65);
  text-align: center;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.button-CV {
  display: flex;
  flex-direction: row;
  width: 270px;
  gap: 5px;
  justify-content:space-between;
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.7);
  border-style: solid;
  border-color: rgba(0, 132, 255, 0.1);
  border-width: 1px;
  margin-top: px;
  border-radius: 56px;
  padding: 5px 5px;
  margin-inline: auto;
  transition: 0.8s;

}

.button-CV:hover {
  color: rgb(255, 255, 255);
  box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.2);
  

}

.cv-container{
  font-family:"Space Grotesk", sans-serif ;
  font-size: 24px;
  font-weight:600;
  background-color:  rgba(0, 132, 255, 0.1);
  color: rgb(0, 0, 0,0.8);
  padding: 10px 10px;
  border-radius: 64px;

}

.icon-arrow{
  background-color: rgba(0, 132, 255, 0.1);
  color: rgba(0, 0, 0,0.9);
  font-size: 28px;
  font-weight: bolder;
  height: 30px;
  align-items: center;
  padding: 10px 10px;
  border-radius: 64px;
  transform: rotate(320deg);
  
  
}

.social-icon{
  display: flex;
  flex: 1;
  flex-shrink: 1;
  width: 1;
  justify-content:end;
  flex-direction: row;
  gap: 20px;
  margin: 20px;
}
.social-icon1{
  font-size: 24px;
  height: 20px;
  align-items: center;
  border-width: 1px;
  transition: 0.3s;
}
.social-icon1:hover{
  font-size: 26px;
  color: rgba(15, 15, 15, 0.8);
  transform: translateY(-50%);
  transition: 0.3s;
  transition-timing-function: ease;
}

@media screen and (min-width: 1280px) {
  .Header-salutation{
    margin: 40px 30px 10px;

  }
  

  .hi1{
    font-size: 52px;
    font-weight: 500;

  }
  .hi-emoji{
    font-size: 28px;
  }

  .name-intro {
    font-size: clamp(60px, 12vw, 100px);
  }
  .role-name {
    font-size: clamp(18px, 5vw, 24px);
    padding: 0px;
  }
  .social-icon{
    font-size: 32px;
    justify-content: center;
    margin: 20px;
  }
  .social-icon1{
    font-size: 20px;
    height: 16px;
  }
  .social-icon1:hover{
    font-size: 26px;
    transform: translateY(-50%);
  }
}

@media screen and (min-width: 1024px){
  .hi1{
    font-size: clamp(20px, 12vw, 30px);
  }
  .name-intro{
    font-size: clamp(60px, 12vw, 170px);
  }
  .role-name {
    font-size:32px;
    padding: 0px;

  }
  .header-bio{
    width: 540px;
    font-size: 20px;
    text-align: center;
  }


  .social-icon{
    font-size: px;
    justify-content: center;
    margin: 20px;
  }

  .social-icon1{
    font-size: 20px;
  }
  .button-CV{
    width: 230px;
    gap: 5px;
  }

  .cv-container{
    font-size: 20px;
    padding: 10px 8px;
    align-content: center;
  }

}

@media screen and (min-width: 768px) {

  .hi1{
    font-size: clamp(20px, 12vw, 35px);
  }

  .name-intro{
    font-size: clamp(50px, 12vw, 140px);
  }

  .role-name {
    font-size:30px;
    padding: 0px;

  } 
  .header-bio{
    width: 680px;
    font-size: 24px;
    text-align: center;
  }

  .button-CV{
    width: 210px;
    gap: 0px;
    align-items: center;
  }
  .cv-container{
    font-size: 18px;
    padding: 12px 10px;
    align-content: center;
    align-items: center;
  }
  .icon-arrow{
    font-size: 24px;
    height: 24px;
    padding: 8px 8px;
  }

  .social-icon{
    margin-inline: auto;
  }
  
}

@media screen and (max-width: 768px) and (min-width: 500px){

  .name-intro{
    font-size: 100px;
    width: 100%;
  }

  .role-name {
    font-size:24px;
    padding: 0px;

  }
  .header-bio
  {
    width: 60%;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
  }

  .social-icon{
   font-size: px;
   justify-content: center;
   margin: 42px;

  }

  .social-icon1{
    font-size: 20px;
  }

}

@media screen and (max-width: 500px){
  .hi1{
    font-size: clamp(20px, 10vw, 28px);
  }
  .name-intro{
    font-size: clamp(130px, 10vw, 145px);
    width: 100%;
  }   

  .role-name {
    font-size:18px;
    font-weight: 600;
    padding: 0px;

  }
  .header-bio
  {
    width: 80%;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }

  .social-icon{
   font-size: 24px;
   justify-content: center;
   margin: 32px;

  }

}



